{% extends 'main/base.html' %}
{% comment %} вверху как бы ссылка, импорт на основной шаблон главной страницы сайта {% endcomment %}

{% block title %}Статьи{% endblock %}

{% comment %} часть страницы сайта которая изменяется {% endcomment %}
{% block content %}
    <div class="zag_div">
        <h2 class="zag">Статьи</h2>
    </div>    
        {# Тут условие что если есть news,записи, то включается цикл перебора новостей #}
        {% if news %}
            {% for el in news %}
                <div class='statia'>
                    
                    <h2 class="zag_statia">{{ el.title }}</h2>

                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news:news-detail' el.id %}" class="then" >Читать детальнее</a>
                </div>

            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}

        {# Вот так создается комментарий #}

    </div>

{% endblock %}

