{% extends 'main/base.html' %}
{% comment %} вверху как бы ссылка, импорт на основной шаблон главной страницы сайта {% endcomment %}

{% block title %}Удаление статьи{% endblock %}

{% comment %} часть страницы сайта которая изменяется {% endcomment %}
{% block content %}
    <div class="features">
        <h1>Удаление статьи</h1>
        {# атрибут method,метод передачи данных post #}
        <form method="post">
            {% csrf_token %}
            {# Тип кнопки submit, позволяет при нажатии на кнопку перезагрузить страницу, а так же отправить данные пользователя на сервер #}
            <button class="btn btn-success" type="submit">Удалить статью</button>
        </form>
    </div>
{% endblock %}