asarPy==1.0.1
asgiref==3.12.1
Cython==3.3.0
Django==6.1.1
Mako==1.4.1.dev0
Markdown==3.10.3
MarkupSafe==3.0.3
meson==1.9.2
packaging==26.3
psycopg==3.3.6
psycopg-binary==3.3.6
python-dotenv==1.2.3
setuptools==80.10.2
sqlparse==0.6.0
wheel==0.48.0
