asarPy==1.0.1
asgiref==3.12.1
Cython==3.3.0
Django==6.1.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1

Markdown==3.10.3
MarkupSafe==3.0.3
meson==1.9.2
packaging==26.3
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.15.0
python-dotenv==1.2.3
setuptools==80.10.2
sqlparse==0.6.0
wheel==0.48.0
