body {  
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(75, 75, 75);
}  

header {  
background-color: #383535; 
color: hsla(83, 100%, 50%, 0.8);
padding: 20px;  
text-align: center;   
margin-top: -10px;
border: 6px solid rgb(0, 0, 0);
border-radius: 10px;
z-index: -1;
text-shadow: -1px 1px rgb(0, 0, 0);
}  

main {          
padding: 10px;  
}  


footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 10px;  
position: fixed;  
width: 100%;  
bottom: 0;  
margin-left: -10px;
}

footer:hover{
    color: hsla(34, 100%, 50%, 1.2);
}


h3{
    text-align: center;  
    color: hsla(65, 79%, 52%, 0.856);
}

h1{
    text-align: center;
    color: hsla(126, 100%, 50%, 0.8);

}




input{
    display: block;
    text-align: center;
    margin-top: 2px;
    border: 2px solid rgb(0, 0, 0);
    width: 11.56%;
    margin-left: 44%;
    border-width: 3px;



}

input:hover{
    border: 2px solid rgb(12, 33, 224);
    transform: scale(1.1);
    transition: 1s;



}

form{
    margin-top: 30px;
    text-align: center;
    z-index: 1;
}




img{
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
    padding: 0;
    margin-top: 20px ;
    margin-top: 60px;
}
