*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(75, 75, 75);
}  

header {  
background-color: #383535; 
color: hsla(83, 100%, 50%, 0.8);
padding: 20px;  
text-align: center;   
margin-top: -10px;
border: 6px solid rgb(0, 0, 0);
border-radius: 10px;
z-index: -1;
text-shadow: -1px 1px rgb(0, 0, 0);
padding: 20px;
}  

main {          
padding: 10px;  
}  


footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 20px;  
position: fixed;  
width: 100%;  
bottom: 0;  

}

footer:hover{
    color: hsla(34, 100%, 50%, 1.2);
}


h3{
    text-align: center;  
    color: hsla(65, 79%, 52%, 0.856);
}

h1{
    text-align: center;
    color: hsla(126, 100%, 50%, 0.8);

}




input{
    display: block;
    text-align: center;
    margin-top: 2px;
    border: 2px solid rgb(0, 0, 0);
    width: 11.56%;
    margin-left: 44%;
    border-width: 3px;
    padding: 1px;
    opacity: 0.9;



}

input:hover{
    border-color: rgb(12, 33, 224);
    transition: 1s;
    opacity: 1;



}

form{
    margin-top: 30px;
    text-align: center;
    z-index: 1;
}




img{
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
    padding: 0;
    margin-top: 20px ;
    margin-top: 60px;
}


button{
    margin-top: 15px;
    padding: 2px;

}

button:hover{
    color: white;
    background-color: black;
}


a{
    background-color: rgb(100, 107, 102);
    /* color:  rgb(12, 158, 220); */
    color: hsla(195, 100%, 50%, 0.6);
    border: 2px solid black;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 25%;
    display: block;
    text-align: center;
    width: 50%;
    font-size: 20px;
    


}


a:hover{
    background-color: rgb(141, 142, 144);
    color: rgb(64, 50, 193);
    transform: scale(1.1);
    transition: 1s;
}

