*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(75, 75, 75);
}  

header {  
background-color: #383535; 
color: hsla(83, 100%, 50%, 0.8);
padding: 20px;  
text-align: center;   
/* border: 6px ridge rgb(0, 0, 0); */
border-width: 6px;
margin-top: -10px;
border: 6px solid rgb(0, 0, 0);
border-radius: 10px;
text-shadow: -1px 1px rgb(0, 0, 0);
padding: 20px;
}  

main {          
padding: 10px;  
}  


footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 20px;  
position: fixed;  
width: 100%;  
bottom: 0;  

}


footer:hover{
    color: hsla(34, 100%, 50%, 1.2);
}


h3{
    text-align: center;  
    color: hsla(60, 7%, 86%, 0.856);
}

h1{
    text-align: center;
    color: hsla(126, 100%, 50%, 0.8);

}

h2{
    text-align: center;
    color: hsla(65, 79%, 52%, 0.856);
}

a{
    background-color: rgb(100, 107, 102);
    /* color:  rgb(12, 158, 220); */
    color: hsla(195, 100%, 50%, 0.6);
    border: 2px solid black;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 25%;
    display: block;
    text-align: center;
    width: 50%;
    font-size: 23.5px;
    
}


a:hover{
    background-color: rgb(141, 142, 144);
    color: rgb(64, 50, 193);
    transform: scale(1.1);
}



button{
    display: block;
    text-align: center;
    background-color: rgb(141, 142, 144);
    color: hsla(239, 100%, 50%, 0.6);
    border: 2px solid black;
    width: 11.56%;
    margin-left: 44%;
    border-width: 3px;
    font-weight: bold;
    font-size: 95%;
    margin-top: 50px;

}



button:hover{
    display: block;
    color: rgb(117, 50, 193);
    border: 2px solid rgb(0, 0, 0);
    width: 11.56%;
    margin-left: 44%;
    border-width: 3px;
    transform: scale(1.2);

}
