{% extends "main/base.html" %} 


{% block title %}Статьи{% endblock %}


{% block content %}
<div class='zag_div'>
    <h2 class='zag'>Статьи</h2>
</div>

<div class='statia'>
    
    <h2>Введение в веб</h2>
    <p>О браузерах, сайтах и серверах.</p>
    <p>Все люди, что хоть как-то взаимодействуют с Интернетом, используют для этого  браузеры. По данным GWI - британской компании по исследованию аудитории СМИ, на сегодняшний год люди проводят в Интернете 6 часов и 40 минут каждый день. Так же по данным ITU, GSMA Intellegence и Eurostat Интернетом пользуются 5,35 миллиардов людей по всему миру, 131 миллиона которых из России. При этом мало кто понимает что такое браузеры, как они появились и работают. Большинство людей не знают разницы между браузером и поисковой системой. Целью данного проекта является разобраться на более глубоком уровне что такое браузеры, как они устроены, как работают и понять их роль сегодня. Помимо самих браузеров мы захватим немного материала о работе серверов и устройстве Интернета и сайтов.
        <a class="then" href="{% url 'blog:blog_one' %}">Читать далее</a>
    </p>

</div>

<div class='statia'>
    
    <h2 class="zag_statia">Введение в веб</h2>
    <p>О браузерах, сайтах и серверах.</p>
    <p>Все люди, что хоть как-то взаимодействуют с Интернетом, используют для этого  браузеры. По данным GWI - британской компании по исследованию аудитории СМИ, на сегодняшний год люди проводят в Интернете 6 часов и 40 минут каждый день. Так же по данным ITU, GSMA Intellegence и Eurostat Интернетом пользуются 5,35 миллиардов людей по всему миру, 131 миллиона которых из России. При этом мало кто понимает что такое браузеры, как они появились и работают. Большинство людей не знают разницы между браузером и поисковой системой. Целью данного проекта является разобраться на более глубоком уровне что такое браузеры, как они устроены, как работают и понять их роль сегодня. Помимо самих браузеров мы захватим немного материала о работе серверов и устройстве Интернета и сайтов.
        <a class="then" href="{% url 'home' %}">Читать далее</a>
    </p>

</div>

<div class='statia'>
    
    <h2>Введение в веб</h2>
    <p>О браузерах, сайтах и серверах.</p>
    <p>Все люди, что хоть как-то взаимодействуют с Интернетом, используют для этого  браузеры. По данным GWI - британской компании по исследованию аудитории СМИ, на сегодняшний год люди проводят в Интернете 6 часов и 40 минут каждый день. Так же по данным ITU, GSMA Intellegence и Eurostat Интернетом пользуются 5,35 миллиардов людей по всему миру, 131 миллиона которых из России. При этом мало кто понимает что такое браузеры, как они появились и работают. Большинство людей не знают разницы между браузером и поисковой системой. Целью данного проекта является разобраться на более глубоком уровне что такое браузеры, как они устроены, как работают и понять их роль сегодня. Помимо самих браузеров мы захватим немного материала о работе серверов и устройстве Интернета и сайтов.
        <a class="then" href="{% url 'home' %}">Читать далее</a>
    </p>

</div>

{% endblock %}