*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    max-width: 100%;
    max-height: 100%;
    background-color: #424043;

}


.statia{
    border: 2px solid rgb(114, 196, 43);
    width: 50%;
    /* margin-left:31%; */
    margin:  470px;
    margin-top: 15px;
    margin-bottom: 15.5px;
    padding: 12.5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(114, 196, 43);
    /* padding: 20px; */
 
}

.pusto{
    border: 2px solid  #424043;
    width: 50%;
    /* margin-left:31%; */
    margin:  470px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #424043;
}

footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 10px;  
position: fixed;  
width: 100%;  
/* bottom: 0;   */

z-index: -1;

}

footer:hover{
    color: hsla(34, 100%, 50%, 1.2);

}


h3{
    text-align: center;  
    color: hsla(153, 100%, 50%, 0.8);


}



.zag_home_h1{
    margin-top: 80px;
    margin-left: 466px;
    text-align: center;
    border: 2px double rgb(46, 31, 144);
    background-color: rgb(46, 31, 144);
    color: hsl(167, 100%, 50%);
    border-radius: 20px;
    padding: 5.5px;
    width: 50%;
    

    /* margin: auto 470px; */

}

.zag_home_h3{
    margin-top: 25px;
    margin-left: 200px;
    text-align: center;
    color: rgb(18, 86, 187);
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    background-color: rgb(114, 196, 43);
    border-radius: 20px;
    padding: 5.5px;
    width: 50%;
    margin-left: 466px;

 
    
}

.zag_div{
    width: 50%;
    margin: auto 470px;
    
   
}

.zag{
    margin-top: 70px;
    color: hsl(167, 100%, 50%);
    border-radius: 20px;
    padding: 5.5px;
    border: 2px double rgb(46, 31, 144);
    background-color: rgb(46, 31, 144);
    text-align: center;
}

.zag_statia{
    text-align: center; 

    
}

h1{
    text-align: center;  

}

.my_button{

    color: hsla(195, 100%, 50%, 0.6);
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25%;
    display: block;
    text-align: center;
    width: 5%;
    font-size: 20px;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
    transition: transform 0.5s ease;



}



.my_button:hover{
    color: rgb(31, 180, 26);
    transform: scale(1.05);
    transition: 0.6s;

}

.then{
    display: block;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: rgb(21, 27, 136);
    opacity: 0.8;
    
}

.then:hover{
    opacity: 1;
}


img{
    display: block;
    margin: auto;
    width: 18%;
    height: 18%;
    border-radius: 60%;
    padding: 0;
    border: 2px solid black;
    margin-top: 20px ;

}



aside {
    float: left;
    background-color: #232222;  
    width: 13.5%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    margin-left: -6px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    transition: 1s;
    position: fixed;
    z-index: 2;
    top:0;

    

}

aside:hover{
    border: 5px solid rgb(171, 171, 171);
}

ul{
    color:#fff;
    display: block;
    margin-top:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.6s ease;



}



nav{
    background-color: #2f2f2f;  
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    color: hsla(120, 100%, 50%, 0.8);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 1s;
    z-index: 1;
    width: 100%;
    position: fixed;
    top:0;
    
}


.nav{
    margin-left: 190px;


}

.p_zag{
    font-size: 20px;
    
}

svg{
    margin-top: 5px;
}



p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.fat{
    font-weight: bold;
    margin-top: 10px;
}

.text{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16.5px;
    text-align:center;

}


.obu{
    animation:  anim ease 6s infinite;
   
}


.text_no_center{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16.5px;
    text-align: right;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}


@keyframes anim{
0% { 
    /* transform: rotate3d(0,0,0,0);  */
    /* transform: translate(0, 0) */
    /* transform: scale(1); */
    color:hsla(120, 100%, 50%, 0.8) ;

} 

50%{
    /* transform: translate(-100px, 0) */
    /* transform: scale(1.6); */
    color:hsla(169, 100%, 50%, 0.8) ;
}

75% { 
    /* transform: rotate3d(0,1,0,360deg); */
    /* transform: translate(100px, 0) */
     /* transform: scale(1);  */
     color:hsla(229, 100%, 50%, 0.8) ;

}

100%{
    color:hsla(162, 100%, 50%, 0.8) ;
}

}