*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    max-width: 100%;
    max-height: 100%;
    background-color: #4b4b4b;

}






footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 10px;  
position: fixed;  
width: 100%;  
/* bottom: 0;   */

z-index: -1;

}

footer:hover{
    color: hsla(34, 100%, 50%, 1.2);

}


h3{
    text-align: center;  
    color: hsla(153, 100%, 50%, 0.8);

}

h2{
    text-align: center;  
}

h1{
    text-align: center;  
    
}

a{

    color: hsla(195, 100%, 50%, 0.6);
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25%;
    display: block;
    text-align: center;
    width: 5%;
    font-size: 20px;
    
    


}


a:hover{
    color: rgb(64, 50, 193);
    transform: scale(1.1);
    transition: 0.6s;
}


img{
    display: block;
    margin: auto;
    width: 18%;
    height: 18%;
    border-radius: 60%;
    padding: 0;
    border: 2px solid black;
    margin-top: 20px ;

}



aside {
    float: left;
    background-color: #232222;  
    width: 13.5%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    margin-left: -6px;

    text-align: center;
    border: 3px solid black;

}

ul{
    color:#fff;
    display: block;
    margin-top:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}



nav{
    background-color: #2f2f2f;  
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    color: hsla(120, 100%, 50%, 0.8);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



svg{
    margin-top: 5px;
}

p{
    font-size: 20px;
}

