body {  
font-family: Arial, sans-serif;  
background-color: #549674;  
}  
header {  
background-color: #628012a7;  
color: rgb(76, 255, 10);  
padding: 20px;  
text-align: center;  
}  
main {  
padding: 20px;  
}  
footer {  
background-color: #398847;  
color: rgb(64, 33, 150);  
text-align: center;  
padding: 10px;  
position: fixed;  
width: 100%;  
bottom: 0;  
}  



