body {  
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(75, 75, 75);
}  

header {  
background-color: #383535; 
color: hsla(83, 100%, 50%, 0.8);
padding: 20px;  
text-align: center;   
/* border: 6px ridge rgb(0, 0, 0); */
border-width: 6px;
margin-top: -10px;
border: 6px solid rgb(0, 0, 0);
}  

main {          
padding: 10px;  
}  

main2{
    color: hsla(110, 4%, 30%, 0.7);
}

lu{
    text-align: center;   
    border-width: 6px;
    margin-top: -12px;
    color: hsla(125, 100%, 50%, 0.8);
    display: block;
}



footer {  
background-color: #2f2f2f;  
/* color: rgb(142, 80, 14, 1.2);   */
color: hsla(34, 100%, 50%, 0.7);
text-align: center;  
padding: 10px;  
position: fixed;  
width: 100%;  
bottom: 0;  
margin-left: -10px;
}


h3{
    text-align: center;  
    color: hsla(65, 79%, 52%, 0.856);
}


a{
    background-color: rgb(100, 107, 102);
    /* color:  rgb(12, 158, 220); */
    color: hsla(195, 100%, 50%, 0.6);
    border: 2px solid black;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 25%;
    display: block;
    text-align: center;
    width: 50%;
    font-size: 20px;
    
}


a:hover{
    background-color: rgb(141, 142, 144);
    color: rgb(64, 50, 193);
    transform: scale(1.1);
}

section{
    text-align: center; 
}

input{
    display: block;
    text-align: center;
    margin-top: 10px;
    border: 2px solid black;
    width: 11.56%;
    margin-left: 44%;
    border-width: 3px;

}

