{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница про нас</title>
    <link rel="stylesheet" href="{% static "deps/css/about.css" %}">
    <link rel="images" href="{% static "static/deps/images/test_image_seatch.jpg" %}">
  
    

   
  </head>
  <body>
    <header>
      <h1>Хотите узнать о нас?</h1>
      <h3>Этот сайт сделан студентом АНПОО «Хекслет колледж»</h3>
      <h3>Обучающегося на напрлавении ИСИП</p>
      <nav>
        <ul>

        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <h2>Переход на другие страницы</h2>
          <a class="btn btn-primary" href="{% url 'users:register' %}" role="button">На страницу регестрации</a>
          <a class="btn btn-primary" href="{% url 'index' %}" role="button">На домашнюю страницу</a>
          

        </section>
        <section>
          <h2>Вторая секция</h2>

        </section>
        <section>
          <h2>И третья</h2>

        </section>
      </article>
    </main>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>

