{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">

    
    {% comment %} <link rel="icons" type="test/png" sizes="32x32" href="{% static "deps/icon/test.png" %}">  {% endcomment %}

    {% comment %} <img src="https://png.klev.club/11837-registracija.html">
    <img src="deps/icon/test.png"> {% endcomment %}
   

   
  </head>
  
  <body>
    <header>
      <h1>Это сайт обучения WEB!</h1>
      <h3>Всё о Браузерах, Сайтах и Серверах!</h3>

    </header>
    <main>
      <article>
        {% comment %} <section> {% endcomment %}
          <h2>Переход на другие страницы</h2>

            <a href="{% url 'users:register' %}">На страницу регистрации</a>
            <a href="{% url 'users:login' %}">На страницу авторизации</a>
            <a href="{% url 'about' %}">На страницу про нас</a> 
            {% comment %} <a href="{% url 'users:logout' %}">Выйти</a>  {% endcomment %}
            {% comment %} удалить потом выйти{% endcomment %}

            <img src='{% static "deps/images/web_1.jpg" %}' alt="test">




      </article>
    </main>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
  </body>
</html>

