{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">
    {% comment %} <link rel="images" href="{% static "deps/images/test_image_seatch.jpg" %}">
    <link rel="icons" type="test/png" sizes="32x32" href="{% static "deps/icon/test.png" %}"> {% endcomment %}
    <img scr="https://png.klev.club/11837-registracija.html">
    <img scr="deps/icon/test.png">
    

   
  </head>
  
  <body>
    <header>
      <h1>Это сайт обучения WEB!</h1>
      <h3>Всё о Браузерах, Сайтах и Серверах!</h3>
    </header>
    <main>
      <article>
        {% comment %} <section> {% endcomment %}
          <h2>Переход на другие страницы</h2>

            <a href="{% url 'users:register' %}">На страницу регистрации</a>
            <a href="{% url 'users:login' %}">На страницу авторизации</a>
            <a href="{% url 'about' %}">На страницу про нас</a> 

            {% comment %} {% if user.is_authenticated %} {% endcomment %}
     {% comment %} <div>
         <form action="users/login/" method="POST"> {% csrf_token %}
              <input type="submit" value="Войти" />
         </form>
    </div> {% endcomment %}
{% comment %} {% else %}
   {% if form.errors %}
         <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
   {% endif %}
   <form action="accounts/login" method="post">{% csrf_token %}
       <label for="username">Логин:</label>
       <input type="text" name="username" value="" id="username">
       <label for="password">Пароль:</label>
       <input type="password" name="password" value="" id="password">

       <input type="submit" value="login" />
       <input type="hidden" name="next" value="{{ next }}" />
    </form>
{%  endif %} {% endcomment %}

         
          {% comment %} <img src="deps/icons/test.png" alt="Test_image">
          <img src="deps/images/test_image_seatch.jpg" alt="Test_image_2"> {% endcomment %}
          
          
        {% comment %} </section> {% endcomment %}

        {% comment %} <section>
              <h2>Вторая</h2>
        </section>
        <section>
          <h2>И третья</h2>
    
        </section> {% endcomment %}
      </article>
    </main>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>

