{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static "deps/css/register.css" %}">
    <link rel="images" href="{% static "deps/images/test_image_seatch.jpg" %}">
    <link rel="stylesheet" href=" {% static "deps/css/buttons.css" %}">

  </head>
  <body>
    <header>

      <h1>Регистрация</h1>
      <h3>А как же без неё?</h3>
      
          <main2>
            <lu>
            Имя
            <e><input></input></e>
            <e></e>
            Пароль
            <e><input></input></e>
            </lu>
          </main2>
  
    </header>
    <main>
      <article>
          
        <section>
          <h2>Переход на другие страницы</h2>
          <a href="{% url 'index' %}">Вернутся на начальную страницy</a>

        </section>

        <section>
          <a href="{% url 'about' %}">На страницу про нас</a>
        </section>

        <section>
{% comment %} 
          <h2>И третья</h2>
          <p>Вы уже должны были начать догадываться.</p> {% endcomment %}

        </section>
      </article>
    </main>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>

