{% load static %}
<html>

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static "deps/css/login.css" %}">
</head>
<body>
    <header>
    <h1>Авторизация</h1>
  
    </header>

        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        <p><button type="sumbit">Войти</button></p>
        </form> 

        <img src='{% static "deps/images/вход.png" %}' alt="test">

    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
</body>
</html>


