{% load static %}

<html>

<head>
    <!-- тег для названия страницы -->
    <title>Авторизация</title>
    <!-- конкретный путь к папке с конкретным стилем -->
    <link rel="stylesheet" href="{% static "deps/css/login.css" %}">
    
    <!-- путь к изображению для вкладки со страницей сайта  -->
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/b8/b0/1a/b8b01a233103576ebc231661a7324bac.jpg">
     
</head>
<body>
    <header>
    <h1>Авторизация</h1>
  
    </header>
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        <p><button type="sumbit">Войти</button></p>
        </form> 
         <!-- путь к изображению, что хранится в файлах самого проекта  -->
        <img src='{% static "deps/images/вход.png" %}' alt="test">
        <!-- кнопка и куда она ведёт -->
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">На начальную страницу</a>

        <!-- тег для нижей части сайта -->
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
</body>
</html>


