{% load static %}
<html>
<head>
    <title>Выход</title>
    <link rel="stylesheet" href="{% static "deps/css/logout.css" %}">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/b8/b0/1a/b8b01a233103576ebc231661a7324bac.jpg">

</head>
<body>
    <header>
    <h1>Выход</h1>

    {% comment %} <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <h2>Эта страница Выхода!</h2>
    <button type="submit">Выход</button> {% endcomment %}
    </header>
    </form>

    <h3>Если вы хотите выйти из профиля или посмотреть как это работает(Ctrl+Shift+C), то вы зашли на нужную страницу!</h3>

    <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <h2>Вы точно хотите выйтии?</h2>
    <button type="submit">Выход</button>
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Назад</a>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
</body>
</html>