{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static "deps/css/register.css" %}">
    <link rel="images" href="{% static "deps/images/test_image_seatch.jpg" %}">
    <link rel="stylesheet" href=" {% static "deps/css/buttons.css" %}">


  </head>
  <body>
    <header>
 


      <h1>Регистрация</h1>
      <h3>А как же без неё?</h3>
      <form method="post"> 
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {{ form.as_p }}
        <p><button type="sumbit">Регистрация</button></p>


        

      </form>
        <img scr="deps/images/регестрации" alt="test2" class="left-img">
        {% comment %} <iframe 
        src="https://vk.com/video_ext.php?oid=-15755094&id=456426541&hash=f20639e13fb257a6" 
        width="640" 
        height="360" 
        frameborder="0" 
        allowfullscreen="1" 
        style="background-color: #000" 
        allow="autoplay; encrypted-media; fullscreen; picture-in-picture"
        alt="затычка">
        </iframe> {% endcomment %}
        
          

  
    </header>
          <a href="{% url 'index' %}">Вернуться на начальную страницy</a>
          <a href="{% url 'about' %}">Вернуться на страницу про нас</a>
    <main>
      <article>
          

          {% comment %} <h2>Переход на другие страницы</h2>
          <a href="{% url 'index' %}">Вернутся на начальную страницy</a>
          <a href="{% url 'about' %}">На страницу про нас</a> {% endcomment %}

 {% comment %} просто чуть чуть поменять сам шаблон и перенести в users и соотвественно поменять пути {% endcomment %}
 {% comment %} подумай надо ли делать base.html {% endcomment %}

{% comment %} 
          <h2>И третья</h2>
          <p>Вы уже должны были начать догадываться.</p> {% endcomment %}
      </article>
    </main>
    <footer>
      <p>Почта создателя и автора сайта: 23zahar051982@gmail.com</p>
    </footer>
    <!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
  </body>
</html>

