{% extends "main/base.html" %} 

{% load static %}
{% block scripts %}
        <script src="{% static '/deps/js/quiz.js' %}" defer></script>
{% endblock scripts %}

{% block title %}{{obj.name}}{% endblock %}

{% block content %}
    <div class="zag_div">
        <h2 class="zag">{{obj.name}}</h2>
        <form id="quiz-form">
             {% csrf_token %} 
            <div id="quiz-box"><div>
            <button class="button" type="submit" >save<button>
        </form>
    </div>  
{% endblock %}